
Version 2.1.0 and above
=======================

For FullCalendar version 2.1.0 and above, you don't need any external depdencies to do event
drag-and-drop or resizing! Reliance upon jQuery UI has been dropped.

<br />


Versions below 2.1.0
====================

Event dragging and resizing requires the following [jQuery UI](http://jqueryui.com/) modules:

- [Draggable](http://jqueryui.com/demos/draggable/) (the Droppable module is **not** required)
- [Resizable](http://jqueryui.com/demos/resizable/)

These modules can be conveniently bundled/compressed/downloaded at the jQuery UI
[downloads page](http://jqueryui.com/download).

After you have gathered the dependencies, **you still need to enable dragging/resizing**
by settings the [editable]() option to `true`.

<p class='abstract' style='display:none'>
jQuery UI dependencies.
</p>
