
.fc-multimonth {
  border: 1px solid var(--fc-border-color);
  overflow-y: auto;
  overflow-x: hidden;
}

.fc-multimonth-month {
  float: left;
  width: 300px;
  margin-right: 50px;
}

.fc-multimonth-daygrid-table {
  width: 100%;
  table-layout: fixed;
}
