
:root {
  --fc-multimonth-padding: 15px;
}

.fc-multimonth {
  border: 1px solid var(--fc-border-color);
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--fc-multimonth-padding);
  background: var(--fc-neutral-bg-color);
}

.fc-multimonth-month {
  float: left;
  padding: var(--fc-multimonth-padding);
  padding-top: 0;
}

.fc-multimonth-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: var(--fc-multimonth-padding);
  padding-bottom: var(--fc-multimonth-padding);
}

.fc-multimonth-daygrid {
  background: var(--fc-page-bg-color);
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}

.fc-multimonth-daygrid-table {
  width: 100%;
  table-layout: fixed;
}

// variants

.fc-multimonth-condensed {
  & .fc-multimonth-daygrid-table {
    font-size: 0.9em;
  }
}

.fc-multimonth-singlecol {
  padding: 0;

  & .fc-multimonth-month {
    padding: 0;
  }

  & .fc-multimonth-daygrid-table {
    border-left-style: hidden;
    border-right-style: hidden;
  }
}
