[submodule "packages-premium"]
	path = packages-premium
	url = git@github.com:fullcalendar/fullcalendar-scheduler.git
[submodule "packages-contrib/vue"]
	path = packages-contrib/vue
	url = git@github.com:fullcalendar/fullcalendar-vue.git
[submodule "packages-contrib/react"]
	path = packages-contrib/react
	url = git@github.com:fullcalendar/fullcalendar-react.git
[submodule "packages-contrib/angular"]
	path = packages-contrib/angular
	url = git@github.com:fullcalendar/fullcalendar-angular.git
