[submodule "packages-premium"]
	path = packages-premium
	url = https://github.com/fullcalendar/fullcalendar-scheduler.git
[submodule "packages-contrib/vue"]
	path = packages-contrib/vue
	url = https://github.com/fullcalendar/fullcalendar-vue.git
[submodule "packages-contrib/react"]
	path = packages-contrib/react
	url = https://github.com/fullcalendar/fullcalendar-react.git
[submodule "packages-contrib/angular"]
	path = packages-contrib/angular
	url = https://github.com/fullcalendar/fullcalendar-angular.git
[submodule "example-projects"]
	path = example-projects
	url = https://github.com/fullcalendar/fullcalendar-example-projects.git
