
# make sure this links mirrors what's in scripts/clean

/archives
/tests-output

/packages/*/tsconfig.tsbuildinfo
/packages/*/tsc
/packages/*/dist
/packages/*/locales
/packages/*/locales-all.js
/packages/core/src/locales-all.ts

# continued in packages-premium/.gitignore

node_modules
yarn-error.log
