
# make sure this links mirrors what's in scripts/clean

/archives

/packages/*/tsconfig.tsbuildinfo
/packages/*/dist
/packages/*/tsc
/packages/*/rollup
/packages/*/locales/*
/packages/*/locales-all.js

# continued in packages-premium/.gitignore

node_modules
yarn-error.log
