
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# make sure this links mirrors what's in scripts/clean

/archives
/tmp

/packages/*/tsconfig.tsbuildinfo
/packages/*/tsc
/packages/*/locales
/packages/*/*.js
/packages/*/*.css
/packages/*/*.map
/packages/*/*.d.ts
/packages/core/src/locales-all.ts

# continued in packages-premium/.gitignore

node_modules
yarn-error.log
