
$daygrid-top-z: 4; // one more than .fc-highlight's z-index. WEIRD solution
$daygrid-week-num-z: 5;
$daygrid-fg-event-z: 6;
$daygrid-popover-z: 7;


.fc-daygrid-body { // a <div> that wraps the table
  position: relative;
  z-index: 1; // container inner z-index's because <tr>s can't do it
}

.fc-daygrid-day {
  height: 1px; // IE and FF need a non-zero height assigned to the <td> so that the inner flexboxes don't confuse it
}


// cell inner-wrappers

.fc-daygrid-day-frame {
  position: relative;
  min-height: 100%; // more optimal than height
}

.fc-liquid-hack .fc-daygrid-day-frame {
  position: static; // will cause inner absolute stuff to expand to <td>
}


// flexbox wrapper for day-top and day-events

.fc-daygrid-day-fg {
  display: flex;
  flex-direction: column;
}

.fc-daygrid-body-balanced { // for when all row heights are equal
  .fc-daygrid-day-fg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; // TODO: make a mixin for all this
  }
}


// cell top

.fc-daygrid-day-top {
  position: relative;
  z-index: $daygrid-top-z;
  flex-shrink: 0;
}

.fc-day-other .fc-daygrid-day-top {
  opacity: 0.3;
}


// day number (within cell top)

.fc-daygrid-day-number {
  padding: 4px; // TODO: variable
}

.fc-dir-ltr .fc-daygrid-day-number {
  float: right;
}

.fc-dir-rtl .fc-daygrid-day-number {
  float: left;
}


// fg events

.fc-daygrid-day-events {
  flex-grow: 1;
  position: relative; // for absolutely positioning event-harnesses
  min-height: 2em;
  margin: 0 2px 1em; // want bottom margin to allow space for selecting

  &:first-child { // only add top margin if no fc-daygrid-day-top
    margin-top: 2px;
  }
}

.fc-daygrid-body-balanced { // for when all row heights are equal
  .fc-daygrid-day-events {
    min-height: 0;
    margin-bottom: 0; // don't need margin-bottom because there's space around the more link for selecting
  }
}


// fg event harness

.fc-daygrid-event-harness {
  &:after {
    @include clearfix; // for when event element has bottom margin
  }
}

.fc-daygrid-event-harness-abs {
  position: absolute;
  top: 0; // fallback
  left: 0; // fallback
  right: 0; // fallback
}

.fc-daygrid-event:not(.fc-event-mirror) { // TODO: should be in daygrid-event file? needs var
  z-index: $daygrid-fg-event-z; // is already position:relative
}


// cell bottom (within day-events)

.fc-daygrid-day-bottom {
  font-size: .85em;
}

.fc-daygrid-more-link {
  position: relative;
  z-index: $daygrid-fg-event-z; // treat as an event
  cursor: pointer;
}


// bg content (within frame)

.fc-daygrid-day-bg {
  @include bg-z-indexes;
}

.fc-daygrid-bg-harness {
  position: absolute;
  top: 0;
  bottom: 0;
}


// week number (within frame)
// TODO: maybe we should move it within day-top

.fc-daygrid-week-number {
  position: absolute;
  z-index: $daygrid-week-num-z;
  top: 0;
  padding: 2px;
  min-width: 1.5em;
  text-align: center;
  background-color: #f2f2f2; // TODO: var
  color: #808080; // TODO: var
}

.fc-dir-ltr .fc-daygrid-week-number {
  left: 0;
  border-radius: 0 0 3px 0;
}

.fc-dir-rtl .fc-daygrid-week-number {
  right: 0;
  border-radius: 0 0 0 3px;
}


// popover

.fc-daygrid .fc-popover {
  z-index: $daygrid-popover-z;
}

.fc-more-popover .fc-popover-body {
  padding: 10px !important; // OVERCOME BOOTSTRAP
  min-width: 220px;
}
