
// for the VIEW (TODO: put in other file

.fc-dayGrid-view .fc-week-number {
  white-space: nowrap;
}


/* DayGridV
--------------------------------------------------------------------------------------------------*/

.fc-day-grid {
  position: relative; // because containers z-index'd children
  z-index: 1;         // "
  display: flex;
  flex-direction: column;
}

.fc-day-grid .fc-row {
  flex-grow: 1;
  position: relative; // for housing the skeletons
}

.fc-day-grid .fc-row.fc-rigid { // TODO: make this a modifier class on fc-day-grid
  // a "rigid" row will take up a constant amount of height because content-skeleton is absolute
  overflow: hidden;
}


// BORDER

.fc-day-grid .fc-row {
  border-width: 1px 0 0;

  &:first-child {
    border-top-width: 0;
  }
}

.fc-unthemed .fc-day-grid .fc-row {
  border-style: solid;
  border-color: $fc-unthemed-border-color;
  border-color: var(--fc-unthemed-border-color, $fc-unthemed-border-color);
}


// SKELETONS
// the order:
// .fc-bg
// .fc-bgevent-skeleton
// .fc-highlight-skeleton
// .fc-content-skeleton
// .fc-mirror-skeleton

.fc-day-grid .fc-row .fc-content-skeleton {
  position: relative;
}

.fc-day-grid .fc-row > .fc-bg,
.fc-day-grid .fc-row > .fc-bgevent-skeleton,
.fc-day-grid .fc-row > .fc-highlight-skeleton,
.fc-day-grid .fc-row.fc-rigid > .fc-content-skeleton,
.fc-day-grid .fc-row > .fc-mirror-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fc-day-grid .fc-row > .fc-bg,
.fc-day-grid .fc-row > .fc-bgevent-skeleton,
.fc-day-grid .fc-row > .fc-highlight-skeleton,
.fc-day-grid .fc-row > .fc-mirror-skeleton {
  & > table {
    height: 100%; // everything but the content-skeleton creates height

    td, th {
      height: 100%;
    }
  }
}

.fc-day-grid .fc-row > .fc-bg { z-index: 1; }
.fc-day-grid .fc-row > .fc-bgevent-skeleton { z-index: 2;}
.fc-day-grid .fc-row > .fc-highlight-skeleton { z-index: 3; }
.fc-day-grid .fc-row > .fc-content-skeleton { z-index: 4; }
.fc-day-grid .fc-row > .fc-mirror-skeleton { z-index: 5; }


// CONTENT SKELETON

.fc-day-grid .fc-row.fc-rigid > .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fc-day-grid .fc-week-number,
.fc-day-grid .fc-day-number {
  padding: 2px;
}

.fc-day-grid .fc-day-top.fc-other-month { // TODO: why is other-month not on fc-day?
  opacity: 0.3;
}

.fc-day-grid .fc-day-top .fc-week-number {
  min-width: 1.5em;
  text-align: center;
  background-color: #f2f2f2;
  color: #808080;
}

.fc-ltr .fc-day-grid .fc-day-top .fc-day-number { float: right; }
.fc-rtl .fc-day-grid .fc-day-top .fc-day-number { float: left; }

.fc-ltr .fc-day-grid .fc-day-top .fc-week-number { float: left; border-radius: 0 0 3px 0; }
.fc-rtl .fc-day-grid .fc-day-top .fc-week-number { float: right; border-radius: 0 0 0 3px; }


.fc-screen {

  .fc-day-grid .fc-row {
    min-height: 4em; // ensure that all rows are at least this tall
  }

  .fc-day-grid .fc-row > .fc-content-skeleton {
    padding-bottom: 1em; // ensure a space at bottom of cell for user selecting/clicking
  }

  .fc-day-grid .fc-row > .fc-bgevent-skeleton,
  .fc-day-grid .fc-row > .fc-highlight-skeleton,
  .fc-day-grid .fc-row > .fc-content-skeleton,
  .fc-day-grid .fc-row > .fc-mirror-skeleton {
    th, td {
      border-color: transparent;
    }
  }

}


.fc-print {

  .fc-day-grid .fc-row > .fc-content-skeleton > table {
    height: 4em;
  }

  .fc-day-grid .fc-row > .fc-bgevent-skeleton,
  .fc-day-grid .fc-row > .fc-highlight-skeleton,
  .fc-day-grid .fc-row > .fc-content-skeleton,
  .fc-day-grid .fc-row > .fc-mirror-skeleton {
    th, td {
      border-top-color: transparent;
      border-bottom-color: transparent;
    }
  }

  // kill the overlaid, absolutely-positioned components
  .fc-day-grid .fc-row > .fc-bg,
  .fc-day-grid .fc-row > .fc-bgevent-skeleton,
  .fc-day-grid .fc-row > .fc-highlight-skeleton,
  .fc-day-grid .fc-row > .fc-mirror-skeleton {
    display: none;
  }

}
