
.fc-daygrid-body {
  position: relative;
  z-index: 1;
}

.fc-daygrid-day-inner {
  position: relative;
  min-height: 100%; // works better than height:100% for some reason
  padding-top: 4px;
}

.fc-scrollgrid-vgrow-cell-hack .fc-daygrid-day-inner {
  position: static;
}

.fc-daygrid-day-top {
  padding: 0 4px 4px;
  text-align: right;
}

.fc-daygrid-day-events:before {
  content: "";
  clear: both;
  display: table;
}

.fc-daygrid-day-events {
  margin: 0 4px;
  margin-bottom: 0 !important; // put bottom padding on fc-daygrid-day-inner instead
  position: relative;
  min-height: 3em;
}

.fc-daygrid-body-balanced .fc-daygrid-day-events {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 0;
}

.fc-daygrid-event-harness { // dont do margins either!!!
  padding-bottom: 2px;
  // margin-top: 0 !important; // was overriding JS :(
}

.fc-daygrid-event-harness-abs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fc-daygrid-bg-harness {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fc-daygrid-bgevent { z-index: 1 }
.fc-daygrid-nonbusiness { z-index: 2 }
.fc-daygrid-highlight { z-index: 3 }

.fc-daygrid-event {
  position: relative;
  z-index: 4;
}

.fc-daygrid-event.fc-event-mirror {
  position: relative;
  z-index: 5;
}

.fc-daygrid-day-top {
  position: relative;
  z-index: 4;
}

.fc-daygrid-day-bottom {
  position: relative;
  z-index: 4;
  font-size: .85em;
}

.fc-daygrid-more-link { // TODO: dont put here
  cursor: pointer;
}




.fc-daygrid .fc-popover {
  z-index: 6;
}

.fc-more-popover .fc-popover-body {
  padding: 10px;
  min-width: 220px;
}


.fc-daygrid-week-number {
  padding: 2px;
  min-width: 1.5em;
  text-align: center;
  background-color: #f2f2f2;
  color: #808080;
}

.fc-ltr .fc-daygrid-week-number {
  float: left;
  border-radius: 0 0 3px 0;
}

.fc-rtl .fc-daygrid-week-number {
  float: right;
  border-radius: 0 0 0 3px;
}

.fc-day-other .fc-daygrid-day-top {
  opacity: 0.3;
}
