
.fc-daygrid-event { // make root-level, because will be dragged-and-dropped outside of a component root
  position: relative; // for z-indexes assigned later
  white-space: nowrap;
  border-radius: 3px; // dot event needs this to when selected
  font-size: var(--fc-smaller-font-size);

  & .fc-event-time,
  & .fc-event-title {
    display: inline-block; // better than inline, for sitting next to dot
  }

}

// --- the rectangle ("block") style of event ---

.fc-daygrid-block-event {

  & .fc-event-main {
    padding: 1px;
    overflow: hidden;
  }

  & .fc-event-time {
    font-weight: bold;
  }

}

// --- the dot style of event ---

.fc-daygrid-dot-event {
  padding: 2px 0;
  overflow: hidden;

  & .fc-event-title {
    font-weight: bold;
  }

  &:hover,
  &.fc-event-mirror {
    background: rgba(0, 0, 0, 0.1);
  }

}

.fc-daygrid-event-dot { // the actual dot
  display: inline-block;
  margin: 0 4px;
  box-sizing: content-box;
  width: 0;
  height: 0;
  border: var(--event-dot-radius) solid var(--event-border-color);
  border-radius: var(--event-dot-radius);
}


// --- spacing between time and title ---

$daygrid-event-inner-margin: 3px;

.fc-direction-ltr {
  & .fc-daygrid-event .fc-event-time {
    margin-right: $daygrid-event-inner-margin;
  }
}

.fc-direction-rtl {
  & .fc-daygrid-event .fc-event-time {
    margin-left: $daygrid-event-inner-margin;
  }
}
