
.fc {

  & .fc-popover {
    position: fixed;
    top: 0; // for when not positioned yet
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
  }

  & .fc-popover-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 4px;
  }

  & .fc-popover-title {
    margin: 0 2px;
  }

  & .fc-popover-close {
    cursor: pointer;
    opacity: 0.65;
    font-size: 1.1em;
  }

}

.fc-theme-standard {

  & .fc-popover {
    border: 1px solid var(--fc-theme-standard-border-color);
    background: #fff;
  }

  & .fc-popover-header {
    background: var(--fc-theme-standard-muted-bg-color);
  }

}
