
@import '../../common/src/styles/vars';
@import '../../common/src/styles/mixins';


// the view wrapper
// ----------------------------------------------------------------------------------------------------

.fc-theme-standard {
  .fc-list {
    border: 1px solid $fc-theme-standard-border-color;
    border: 1px solid var(--fc-theme-standard-border-color, $fc-theme-standard-border-color);
  }
}


// table within the scroller
// ----------------------------------------------------------------------------------------------------

.fc-list-table {
  width: 100%;
  border-collapse: separate;
  border-style: hidden !important; // kill outer border on theme. OVERCOME BOOTSTRAP

  tr > * {
    border-left: 0 !important; // OVERCOME BOOTSTRAP
    border-right: 0 !important; // OVERCOME BOOTSTRAP
    border-top: 0 !important; // OVERCOME BOOTSTRAP
  }

  tr:last-child > * {
    border-bottom: 0 !important; // OVERCOME BOOTSTRAP
  }
}

.fc-list-sticky {
  .fc-list-day > * {
    position: sticky; // TODO: browser prefix?
    z-index: 2; // TODO: var
    top: 0;
  }
}


.fc-list-table th {
  background: #fff; // for when headers are styled to be transparent and sticky. TODO: var
  padding: 0; // uses an inner-wrapper instead...
}
.fc-list-table td,
.fc-list-day-frame {
  padding: 8px 14px;
}


// date heading rows
// ----------------------------------------------------------------------------------------------------

.fc-list-day-frame {
  &:after {
    @include clearfix; // clear floating
  }
}

.fc-theme-standard .fc-list-day-frame {
  background: $fc-theme-standard-muted-bg-color;
  background: var(--fc-theme-standard-muted-bg-color, $fc-theme-standard-muted-bg-color);
}

.fc-direction-ltr .fc-list-day-text,
.fc-direction-rtl .fc-list-day-side-text {
  float: left;
}

.fc-direction-ltr .fc-list-day-side-text,
.fc-direction-rtl .fc-list-day-text {
  float: right;
}


// event rows
// ----------------------------------------------------------------------------------------------------

.fc-list-event.fc-event-forced-url {
  cursor: pointer; // whole row will seem clickable
}

.fc-theme-standard {
  .fc-list-event:hover td {
    background-color: #f5f5f5;
  }
}

// shrink certain cols
.fc-list-event-graphic,
.fc-list-event-time {
  white-space: nowrap;
  width: 1px;
}

.fc-list-event-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3788d8; // TODO: var
}

// make the dot closer to the event title
.fc-direction-ltr .fc-list-event-graphic { padding-right: 0 }
.fc-direction-rtl .fc-list-event-graphic { padding-left: 0 }

// reset <a> styling
.fc-list-event-title a {
  color: inherit;
  text-decoration: none;
}

// underline link when hovering over any part of row
.fc-list-event.fc-event-forced-url:hover a {
  text-decoration: underline;
}

// message when no events
.fc-list-empty {
  background-color: #eee;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; // vertically aligns fc-list-empty-inner
}

.fc-list-empty-cushion {
  margin: 5em 0;
}
