
@import '../../core/src/styles/vars';


/* List View
--------------------------------------------------------------------------------------------------*/

/* possibly reusable */

.fc-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

/* view wrapper */

.fc-dir-rtl .fc-list-view {
  direction: rtl; /* unlike core views, leverage browser RTL */
}

.fc-theme-standard .fc-list-view {
  border: 1px solid $fc-theme-standard-border-color;
  border: 1px solid var(--fc-theme-standard-border-color, $fc-theme-standard-border-color);
}

.fc .fc-list-table {
  width: 100%;
  border-style: hidden; // kill outer border. already on fc-list-view

  td, th { // needs to be high precedence to overcome reset :(
    padding: 8px 14px;
    border-width: 1px 0 0;
  }
}

/* day headings with the list */

.fc-list-day {
  border-bottom-width: 1px;
}

.fc-list-day td {
  font-weight: bold;
}

.fc-theme-standard .fc-list-day td {
  background: $fc-theme-standard-muted-bg-color;
  background: var(--fc-theme-standard-muted-bg-color, $fc-theme-standard-muted-bg-color);
}

.fc-dir-ltr .fc-list-day-text { float: left; }
.fc-dir-ltr .fc-list-day-side-text { float: right; }

.fc-dir-rtl .fc-list-day-text { float: right; }
.fc-dir-rtl .fc-list-day-side-text { float: left; }

/* event list items */

.fc-theme-standard .fc-list-event:hover td {
  background-color: #f5f5f5;
}

.fc-list-event.fc-has-url {
  cursor: pointer; /* whole row will be clickable */
}

.fc-list-event-graphic,
.fc-list-event-time {
  white-space: nowrap;
  width: 1px;
}

/* make the dot closer to the event title */
.fc-dir-ltr .fc-list-event-graphic { padding-right: 0; }
.fc-dir-rtl .fc-list-event-graphic { padding-left: 0; }

.fc-list-event-title a {
  /* every event title cell has an <a> tag */
  text-decoration: none;
  color: inherit;
}

.fc-list-event-title a[href]:hover {
  /* hover effect only on titles with hrefs */
  text-decoration: underline;
}

/* message when no events */

.fc-list-empty {
  background-color: #eee;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
