
:root {
  /* primary */
  --fc-breezy-primary: #4f46e5;
  --fc-breezy-primary-over: #6366f1;
  --fc-breezy-primary-foreground: #ffffff;

  /* secondary */
  --fc-breezy-secondary: var(--fc-breezy-background);
  --fc-breezy-secondary-over: var(--fc-breezy-faint);
  --fc-breezy-secondary-border: var(--fc-breezy-strong-border);
  --fc-breezy-secondary-foreground: var(--fc-breezy-strong-foreground);
  --fc-breezy-secondary-icon: var(--fc-breezy-faint-foreground);
  --fc-breezy-secondary-icon-over: var(--fc-breezy-muted-foreground);

  /* calendar content */
  --fc-breezy-event: #3b82f6;
  --fc-breezy-event-contrast: #fff;
  --fc-breezy-background-event: #8b5cf6;
  --fc-breezy-highlight: #38bdf814;
  --fc-breezy-now: #f43f5e;

  /* controls */
  --fc-breezy-selected: var(--fc-breezy-strong);

  /* popover */
  --fc-breezy-popover: var(--fc-breezy-background);
  --fc-breezy-popover-border: var(--fc-breezy-strong-border);

  /* neutral backgrounds */
  --fc-breezy-background: #ffffff;
  --fc-breezy-faint: #00000005;
  --fc-breezy-muted: #0000000D;
  --fc-breezy-strong: #0000001A;
  --fc-breezy-stronger: #00000024;
  --fc-breezy-strongest: #0000002E;

  /* neutral foregrounds */
  --fc-breezy-foreground: #374151;
  --fc-breezy-faint-foreground: #9ca3af;
  --fc-breezy-muted-foreground: #6b7280;
  --fc-breezy-strong-foreground: #111827;

  /* neutral borders */
  --fc-breezy-border: #e5e7eb;
  --fc-breezy-muted-border: #f3f4f6;
  --fc-breezy-strong-border: #d1d5db;
}

@media not print {
  [data-color-scheme=dark] {
    /* primary */
    --fc-breezy-primary: #6366f1;
    --fc-breezy-primary-over: #818cf8;

    /* secondary */
    --fc-breezy-secondary: var(--fc-breezy-muted);
    --fc-breezy-secondary-over: var(--fc-breezy-strong);
    --fc-breezy-secondary-border: var(--fc-breezy-muted-border);
    --fc-breezy-secondary-foreground: var(--fc-breezy-strong-foreground);
    --fc-breezy-secondary-icon: var(--fc-breezy-muted-foreground);
    --fc-breezy-secondary-icon-over: var(--fc-breezy-foreground);

    /* calendar content */
    --fc-breezy-event: #93c5fd;
    --fc-breezy-event-contrast: #000;
    --fc-breezy-now: #fb7185;

    /* controls */
    --fc-breezy-selected: var(--fc-breezy-muted);

    /* popovers */
    --fc-breezy-popover: #1f2937;
    --fc-breezy-popover-border: var(--fc-breezy-border);

    /* neutral backgrounds */
    --fc-breezy-background: #111827;
    --fc-breezy-faint: #ffffff08;
    --fc-breezy-muted: #ffffff12;
    --fc-breezy-strong: #ffffff1F;
    --fc-breezy-stronger: #ffffff29;
    --fc-breezy-strongest: #ffffff33;

    /* neutral foregrounds */
    --fc-breezy-foreground: #d1d5db;
    --fc-breezy-muted-foreground: #9ca3af;
    --fc-breezy-faint-foreground: #6b7280;
    --fc-breezy-strong-foreground: #ffffff;

    /* neutral borders */
    --fc-breezy-border: #ffffff1A;
    --fc-breezy-muted-border: #ffffff0D;
    --fc-breezy-strong-border: #ffffff26;
  }
}

