
.fc-theme-standard {

  & .fc-list {
    border: 1px solid var(--fc-border-color);
  }

}

.fc {

  // message when no events
  & .fc-list-empty {
    background-color: var(--fc-neutral-bg-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; // vertically aligns fc-list-empty-inner
  }

  & .fc-list-empty-cushion {
    margin: 5em 0;
  }

}
