
:root {
  --fc-sticky-header-footer-z: 3;
  --fc-popover-z: 4;
}

.popoverZ {
  z-index: var(--fc-popover-z) !important;
}

.isolate {
  isolation: isolate;
}

/*
This will prevent all ancestors from customizing their box size unless they use .contentBox
*/
.borderBoxRoot,
.borderBoxRoot *,
.borderBoxRoot *:before,
.borderBoxRoot *:after {
  box-sizing: border-box !important;
}

/* classes attached to <body> */
.notAllowed,
.notAllowed * {
  cursor: not-allowed !important;
}

.noScrollbars {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noScrollbars::-webkit-scrollbar {
  display: none !important;
}

.noShrink {
  flex-shrink: 0 !important;
}

.calendarScreenRoot .safeTiles {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

/* HACK for Safari. Can't do break-inside:avoid with flexbox items, likely b/c it's not standard:
   https://stackoverflow.com/a/60256345 */
.calendarPrintRoot .safeTiles > * {
  float: left !important;
}

[dir=rtl] .calendarPrintRoot .safeTiles > *,
.calendarPrintRoot[dir=rtl] .safeTiles > * {
  float: right !important;
}

.calendarPrintRoot .safeTiles::after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.cursorPointer {
  cursor: pointer !important;
}

.cursorResizeT {
  cursor: n-resize !important;
}

.cursorResizeB {
  cursor: s-resize !important;
}

.cursorResizeS {
  cursor: w-resize !important;
}

[dir=rtl] .cursorResizeS {
  cursor: e-resize !important;
}

.cursorResizeE {
  cursor: e-resize !important;
}

[dir=rtl] .cursorResizeE {
  cursor: w-resize !important;
}

.cursorColResizer {
  cursor: col-resize !important;
}

.hit,
.hitX,
.hitY {
  position: absolute !important;
  box-sizing: content-box !important;
  width: 100% !important;
  height: 100% !important;
}

.hit {
  padding: 10px !important;
  margin: -10px !important;
}

.hitX {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: -10px !important;
  margin-right: -10px !important;
}

.hitY {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: -10px !important;
  margin-bottom: -10px !important;
}

/* QUESTION: why not use -left -right instead of negative margins/padding for ALL? */
.hitXSkinny {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5px;
  right: -5px;
}

.selectNone {
  user-select: none;
}

.invisible {
  visibility: hidden;
}

/* Border Utils */
/* ------------------------------------------------------------------------------------------------- */

/* TODO: break-out to x and y. don't have "only" all */
/* TODO: instead of "border" utils, call them "borderless" to subtract? */

.borderNone {
  border: 0 !important;
}

.borderOnlyT {
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
}

.borderOnlyB {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}

.borderOnlyS,
.borderOnlyE {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.borderOnlyS {
  border-inline-end: 0 !important;
}

.borderOnlyE {
  border-inline-start: 0 !important;
}

.borderlessX {
  border-left: 0 !important;
  border-right: 0 !important;
}

.borderlessY {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

/* for matching cell start-border, assumed to be 1px, which can't be guaranteed */
.fakeBorderS {
  border-inline-start: 1px solid transparent !important;
}

/* Flexbox Utils */
/* ------------------------------------------------------------------------------------------------- */

.flexRow {
  display: flex !important;
  flex-direction: row !important;
}

.flexCol {
  display: flex !important;
  flex-direction: column !important;
}

.grow {
  flex-grow: 1 !important;
}

.liquid {
  flex-grow: 1 !important;
  flex-basis: 0 !important;
  min-width: 0 !important;
  min-height: 0 !important;
}

.minHeight0 {
  min-height: 0 !important;
}

/*
TODO: use liquidX/Y elsewhere because frees up min other dimension; less collisions
*/
.liquidX {
  flex-grow: 1 !important;
  flex-basis: 0 !important;
  min-width: 0 !important;
}

/* Print-Safe Utils (media:screen ONLY) */
/* ------------------------------------------------------------------------------------------------- */

.calendarScreenRoot .printRoot,
.calendarScreenRoot .printHeader {
  display: flex !important;
  flex-direction: column !important;
}

/* Table Utils */
/* ------------------------------------------------------------------------------------------------- */

.noPadding {
  padding: 0 !important;
}

.noMargin {
  margin: 0 !important;
}

.noMarginY {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.noMarginX {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.whiteSpaceNoWrap {
  white-space: nowrap !important;
}

.whiteSpacePre {
  white-space: pre !important;
}

/* Misc Utils */
/* ------------------------------------------------------------------------------------------------- */

.overflowAnchorNone {
  overflow-anchor: none;
}

.crop {
  overflow: hidden !important;
}

/*
TODO: eventually use this on daygrid/timegrid events' inner, time, and title, FOR PRINT
Needed to prevent wrapping to multiple lines, increasing height, throwing off print-positioning,
which can't rely on dynamic height detection after print-flag activated.
*/
.cropNowrap {
  white-space: nowrap !important;
  overflow: hidden !important;
}

.rel {
  position: relative !important;
}

.abs {
  position: absolute !important;
}

.start0 {
  inset-inline-start: 0 !important;
}

.fill {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.fillTop,
.fillX {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
}

.fillY,
.fillStart {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
}

.fillTop {
  top: 0 !important;
}

.fillStart {
  left: 0 !important;
  right: 0 !important;
  width: 0 !important;
}

@media not print {
  .sticky {
    position: sticky !important;
  }

  .stickyT {
    position: sticky !important;
    top: 0 !important;
  }

  /* Sticks to either left or right (the flex "start") depending on ltr/rtl */
  .stickyS {
    position: sticky !important;
    inset-inline-start: 0 !important;
  }

  .tableHeaderSticky {
    position: sticky !important;
    top: 0 !important;
    z-index: var(--fc-sticky-header-footer-z) !important;
  }
}

/* Only needed when padding/border must be separate from width/height */
.contentBox {
  box-sizing: content-box !important;
}

.offscreen {
  position: absolute !important;
  left: -10000px !important;
}

.alignCenter {
  align-items: center !important;
}

.alignStart {
  align-items: flex-start !important;
}

.alignEnd {
  align-items: flex-end !important;
}

/* Footer Scrollbar */
/* ------------------------------------------------------------------------------------------------- */

.footerScrollbarSticky {
  position: sticky !important;
  bottom: 0 !important;
  z-index: var(--fc-sticky-header-footer-z) !important;
}

.footerScrollbar > * {
  margin-top: -1px !important;
}

.footerScrollbar > * > * {
  height: 1px !important;
}

/* Print-Safe Utils */
/* ------------------------------------------------------------------------------------------------- */

.calendarPrintRoot .breakInsideAvoid {
  break-inside: avoid !important;
}

.calendarPrintRoot .printRoot {
  display: table !important;
  table-layout: fixed !important;
  width: 100% !important;
  border-spacing: 0 !important;
  border-collapse: separate !important;
}

.calendarPrintRoot .printHeader {
  display: table-header-group !important;
  break-inside: avoid !important;
  background: #fff !important;
  z-index: 9999 !important;
  position: relative !important;
}

.printSiblingRow {
  /* min-height when multiple rows coexist, provides sane aspect-ratio for cells */
  min-height: 6em !important;
}

/* Z-index */
/* ------------------------------------------------------------------------------------------------- */

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.focusZ2:focus-visible {
  z-index: 2;
}

/* INTERNAL MARKER -- used to mark an element for internal significance */
/* ------------------------------------------------------------------------------------------------- */

.internalTimelineSlot {}

.internalEvent {}
.internalEventMirror {}
.internalEventDraggable {}
.internalEventSelected {}
.internalEventResizable {}
.internalEventResizer {}
.internalEventResizerStart {}
.internalEventResizerEnd {}

.internalBgEvent {}

.internalMoreLink {}

.internalNavLink {}

.internalPopover {}

.internalView {}

.internalScroller {}
