
/* BasicView
--------------------------------------------------------------------------------------------------*/

/* day row structure */

.fc-basicWeek-view .fc-content-skeleton,
.fc-basicDay-view .fc-content-skeleton {
	/* there may be week numbers in these views, so no padding-top */
	padding-bottom: 1em; /* ensure a space at bottom of cell for user selecting/clicking */
}

.fc-basic-view .fc-body .fc-row {
	min-height: 4em; /* ensure that all rows are at least this tall */
}

/* a "rigid" row will take up a constant amount of height because content-skeleton is absolute */

.fc-row.fc-rigid {
	overflow: hidden;
}

.fc-row.fc-rigid .fc-content-skeleton {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

/* week and day number styling */

.fc-basic-view .fc-week-number,
.fc-basic-view .fc-day-number {
	padding: 0 2px;
}

.fc-basic-view td.fc-week-number span,
.fc-basic-view td.fc-numbercell span {
	padding-top: 2px;
	padding-bottom: 2px;
}

.fc-basic-view td.fc-numbercell span.fc-weeknr-daycell {
	width: 1.5em;
	text-align: center;
	background-color: #f2f2f2;
	color: #808080;
}

.fc-ltr .fc-basic-view td.fc-numbercell span.fc-weeknr-daycell {
	border-radius: 0 0 3px 0;
}

.fc-rtl .fc-basic-view td.fc-numbercell span.fc-weeknr-daycell {
	border-radius: 0 0 0 3px;
}

.fc-basic-view td.fc-week-number {
	text-align: center;
}

.fc-basic-view td.fc-week-number span {
	/* work around the way we do column resizing and ensure a minimum width */
	display: inline-block;
	min-width: 1.25em;
}

.fc-ltr .fc-basic-view .fc-numbercell span.fc-week-number {
	float: left;
}

.fc-ltr .fc-basic-view .fc-numbercell span.fc-day-number {
	float: right;
}

.fc-rtl .fc-basic-view .fc-numbercell span.fc-week-number {
	float: right;
}

.fc-rtl .fc-basic-view .fc-numbercell span.fc-day-number {
	float: left;
}

.fc-numbercell.fc-other-month {
	opacity: 0.3;
	filter: alpha(opacity=30); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
}
