
/*.fc-event,
.fc-event a,
.fc-agenda .fc-event-time {
	color: #fff;
	border-style: solid;
	border-color: blue;
	background-color: blue;
	}*/


.fc .fc-axis {
	width: 50px;
	padding: 0 4px 0 0;
	vertical-align: middle;
	white-space: nowrap;
	text-align: right;
	font-weight: normal;
	}
	
	
	
	
.fc .fc-agenda th,
.fc .fc-agenda td {
	border-width: 1px 0 0 1px;
	}
	
.fc-agenda-head tr.fc-all-day th {
	height: 35px;
	}
	
.fc-agenda tr.fc-first th,
.fc-agenda tr.fc-first td {
	border-top: 0;
	}
	
.fc .fc-agenda .fc-leftmost {
	border-left: 0;
	}
	
	
	

.fc .fc-agenda-head td,
.fc .fc-agenda-body td {
	background: none;
	}
	
.fc .fc-agenda-body td div {
	height: 20px;
	}



	
.fc .fc-agenda-body tr.fc-minor th,
.fc .fc-agenda-body tr.fc-minor td {
	border-top-style: dotted;
	}
	
	

.fc .fc-divider div {
	font-size: 1px; /* for IE6/7 */
	height: 2px;
	}
	
	
	
.fc .fc-divider .fc-state-default {
	background: #eee;
	}
	
	
	
.fc-agenda-head tr.fc-last th {
	border-bottom-width: 1px;
	}
	
	
	
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 0;
	}
	
.fc-agenda-head .fc-day-content {
	padding-bottom: 10px;
	}

	
	
	
	
/* header styles */
/*	
.fc .fc-agenda-head th.fc-first {
	border-left: 0;
	}
	
.fc .fc-agenda-head th,
.fc .fc-agenda-head td {
	border-width: 1px 0 0 1px;
	}

.fc-agenda-head tr.fc-first th {
	border-width: 0 0 0 1px;
	}
	
.fc-agenda-head tr.fc-last th,
.fc-agenda-head tr.fc-last td {
	border-bottom-width: 2px;
	}
	
.fc-agenda-head tr.fc-last th {
	#border-width: 1px 0 1px 1px;
	background-image: none;
	}
	
.fc-agenda-head tr.fc-last th.fc-first {
	#border-width: 0 2px 1px 0;
	}
	
.fc-agenda-head tr.fc-last th.fc-last {
	#border-width: 0 0 0 3px;
	}
	
.fc .fc-agenda-head td {
	#border-width: 3px 0 3px 1px;
	background: none;
	}
	
.fc-agenda-body {
	#width: 100%;
	overflow: auto;
	}
*/
	
	

/*
.fc .fc-agenda-body th {
	border-width: 1px 0 0 0;
	background-image: none;
	text-align: right;
	font-weight: normal;
	vertical-align: middle;
	width: 48px;
	height: 22px;
	padding-right: 2px;
	}
	
.fc .fc-agenda-body td {
	border-width: 1px 0 0 1px;
	background: none;
	}

.fc .fc-agenda-body tr.fc-minor th,
.fc .fc-agenda-body tr.fc-minor td {
	border-top-style: dotted;
	}
	
.fc .fc-agenda-body tr.fc-first th,
.fc .fc-agenda-body tr.fc-first td {
	border-top: 0;
	}
	
	
	
.fc .fc-agenda-bg td {
	border-style: double;
	border-width: 0 0 0 3px;
	}
	
.fc .fc-agenda-bg td.fc-not-today {
	background: none;
	}
	
	
	
.fc-agenda .fc-day-content {
	padding: 2px 1px 14px;
	}
*/
	
	
	
	
	
/* vertical events */

.fc-event-vert {
	border-width: 0 1px;
	}
	
.fc-event-vert a {
	border-width: 0;
	}
	
.fc-content .fc-corner-top {
	margin-top: 1px;
	}
	
.fc-content .fc-corner-top a {
	margin-top: -1px;
	border-top-width: 1px;
	}
	
.fc-content .fc-corner-bottom {
	margin-bottom: 1px;
	}
	
.fc-content .fc-corner-bottom a {
	margin-bottom: -1px;
	border-bottom-width: 1px;
	}
	
.fc-event-vert span {
	display: block;
	position: relative;
	z-index: 2;
	}
	
.fc-event-vert span.fc-event-time {
	white-space: nowrap;
	_white-space: normal;
	overflow: hidden;
	font-size: 10px;
	border: 0;
	}
	
.fc-event-vert span.fc-event-title {
	line-height: 13px;
	}
	
.fc-event-vert span.fc-event-bg {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .3;
	filter: alpha(opacity=30);
	}
	
.fc-event-vert .ui-resizable-s {
	font-family: monospace;
	height: 8px;
	font-size: 11px;
	line-height: 8px;
	bottom: 0;
	text-align: center;
	}