
/*
this class is used for:
- left/right resizers (esp for touch)
  - hiding/showing --- used .fc-event-resizer general class for this
      based on .fc-event-selected/.fc-event-allow-mouse-resize
  - the dot --- use a subclass of the subcomponent for this like fc-event-resizer-dot
- edges for start/end  ---- implement separately for each event type
- vertically expand the touch area when it's selected --- use mixin
*/

/* bigger touch area when selected */
.fc-h-event.fc-event-selected:before {
  content: "";
  position: absolute;
  z-index: 3; /* below resizers */
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
}


.fc-h-event {
  position: relative; /* for resize handle and other inner positioning */
  display: block; /* make the <a> tag block */
  font-size: .85em;
  line-height: 1.4;
  border: 1px solid #3788d8;
  background-color: #3788d8;
  color: #fff; /* default TEXT color. TODO: test hovering over <a> when HREF and theme */
  text-decoration: none; /* if <a> has an href */
}


.fc-h-event .fc-event-time,
.fc-h-event .fc-event-title {
  display: inline;
}

.fc-h-event .fc-event-time {
  font-weight: bold;
}

.fc-dir-ltr .fc-h-event .fc-event-time {
  margin-right: 2px;
}

.fc-dir-rtl .fc-h-event .fc-event-time {
  margin-left: 2px;
}


/* events that are continuing to/from another week. kill rounded corners and butt up against edge */

.fc-dir-ltr .fc-h-event:not(.fc-event-start),
.fc-dir-rtl .fc-h-event:not(.fc-event-end) {
  margin-left: 0;
  border-left-width: 0;
  padding-left: 1px; /* replace the border with padding */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.fc-dir-ltr .fc-h-event:not(.fc-event-end),
.fc-dir-rtl .fc-h-event:not(.fc-event-start) {
  margin-right: 0;
  border-right-width: 0;
  padding-right: 1px; /* replace the border with padding */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* resizer (cursor AND touch devices) */

/* left resizer  */
.fc-dir-ltr .fc-h-event .fc-event-resizer-start,
.fc-dir-rtl .fc-h-event .fc-event-resizer-end {
  cursor: w-resize;
  left: -1px; /* overcome border */
}

/* right resizer */
.fc-dir-ltr .fc-h-event .fc-event-resizer-end,
.fc-dir-rtl .fc-h-event .fc-event-resizer-start {
  cursor: e-resize;
  right: -1px; /* overcome border */
}

/* resizer (mouse devices) */

.fc-h-event.fc-allow-mouse-resize .fc-event-resizer {
  width: 7px;
  top: -1px; /* overcome top border */
  bottom: -1px; /* overcome bottom border */
}

/* resizer (touch devices) */

.fc-h-event.fc-event-selected .fc-event-resizer {
  /* 8x8 little dot */
  border-radius: 4px;
  border-width: 1px;
  width: 6px;
  height: 6px;
  border-style: solid;
  border-color: inherit;
  background: #fff;
  /* vertically center */
  top: 50%;
  margin-top: -4px;
}

/* left resizer  */
.fc-dir-ltr .fc-h-event.fc-event-selected .fc-event-resizer-start,
.fc-dir-rtl .fc-h-event.fc-event-selected .fc-event-resizer-end {
  margin-left: -4px; /* centers the 8x8 dot on the left edge */
}

/* right resizer */
.fc-dir-ltr .fc-h-event.fc-event-selected .fc-event-resizer-end,
.fc-dir-rtl .fc-h-event.fc-event-selected .fc-event-resizer-start {
  margin-right: -4px; /* centers the 8x8 dot on the right edge */
}
