
/* TODO
.fc-not-start --> :not(.fc-event-start)
.fc-not-end --> :not(.fc-event-end)
*/


.fc-bgevent,
.fc-nonbusiness {
  opacity: 0.3;
}

.fc-bgevent,
.fc-nonbusiness,
.fc-highlight {
  // will always have a harness
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.fc-dot {
  background-color: #3788d8; /* default BACKGROUND color */
}


// TODO: copy and paste to other event types
// .fc-event {
//   position: relative; /* for resize handle and other inner positioning */
//   display: block; /* make the <a> tag block */
//   font-size: .85em;
//   line-height: 1.4;
//   border-radius: 3px;
//   border: 1px solid #3788d8;
//   background-color: #3788d8;
//   color: #fff; /* default TEXT color. TODO: test hovering over <a> when HREF and theme */
//   text-decoration: none; /* if <a> has an href */
// }



.fc-event[href],
.fc-event.fc-event-draggable {
  cursor: pointer; /* give events with links and draggable events a hand mouse pointer */
}

.fc-not-allowed, /* causes a "warning" cursor. applied on body */
.fc-not-allowed .fc-event { /* to override an event's custom cursor */
  cursor: not-allowed;
}


/* resizer (cursor AND touch devices) */

.fc-event .fc-event-resizer {
  position: absolute;
  z-index: 4;
}

/* resizer (touch devices) */

.fc-event .fc-event-resizer {
  display: none;
}

.fc-event-resizable-mouse .fc-event-resizer,
.fc-event-selected .fc-event-resizer {
  /* only show when hovering or selected (with touch) */
  display: block;
}

/* hit area */

.fc-event-selected .fc-event-resizer:before {
  /* 40x40 touch area */
  content: "";
  position: absolute;
  z-index: 9999; /* user of this util can scope within a lower z-index */
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}


/* Event Selection (only for touch devices)
--------------------------------------------------------------------------------------------------*/

.fc-event-selected {
  z-index: 9999 !important; /* overcomes inline z-index */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fc-event-selected:after {
  content: "";
  position: absolute;
  z-index: 1; /* same z-index as fc-bg, behind text */
  /* overcome the borders */
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  /* darkening effect */
  background: #000;
  opacity: .25;
}


/* Event Dragging
--------------------------------------------------------------------------------------------------*/

.fc-event-dragging.fc-event-selected {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.fc-event-dragging:not(.fc-event-selected) {
  opacity: .75;
}


/* BG events
--------------------------------------------------------------------------------------------------*/

.fc-bgevent .fc-event-title {
  margin: .5em;
  font-size: .85em;
  font-style: italic;
}


/* For Print
--------------------------------------------------------------------------------------------------*/

.fc-media-print {

  .fc-event {
    background: #fff !important;
    color: #000 !important;
    page-break-inside: avoid;
  }

  .fc-event .fc-event-resizer {
    display: none;
  }

}
