
.fc-popover {
  position: fixed;
  top: 0; // for when not positioned yet
  box-shadow: 0 2px 6px rgba(0,0,0,.15);
}

.fc-popover .fc-header { /* TODO: be more consistent with fc-head/fc-body */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px;
}

.fc-rtl .fc-popover .fc-header {
  flex-direction: row-reverse;
}

.fc-popover .fc-header .fc-title {
  margin: 0 2px;
}

.fc-popover .fc-header .fc-close {
  cursor: pointer;
  opacity: 0.65;
  font-size: 1.1em;
}


.fc-unthemed {

  .fc-popover {
    border: 1px solid $unthemed-border-color;
    background: #fff;

    .fc-header {
      background: $unthemed-muted-bg-color;
    }
  }

}


@media print {

  .fc-popover {
    display: none; /* never display the "more.." popover in print mode */
  }

}
