
.fc {
  font-size: 1em;

  &,
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }


  table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em; /* normalize cross-browser */
  }

  th {
    text-align: center;
  }

  th, td {
    vertical-align: top;
  }


  /* Internal Nav Links
  --------------------------------------------------------------------------------------------------*/

  a[data-goto] {
    cursor: pointer;
  }

  a[data-goto]:hover {
    text-decoration: underline;
  }

}

.fc-ltr {
  direction: ltr;
}

.fc-rtl {
  direction: rtl;
}

.fc-unthemed {

  td, th {
    border: 1px solid $fc-unthemed-border-color;
    border: 1px solid var(--fc-unthemed-border-color, $fc-unthemed-border-color);
  }

}


.fc-print {

  .fc {
    max-width: 100% !important;
  }

}
