
.fc-scroller {
  -webkit-overflow-scrolling: touch;
}


.fc-print {

  /* kill the scrollbars and allow natural height */
  .fc-scroller {
    overflow: visible !important;
    height: auto !important;
  }

}
