
.scrollgrid {

  &, table { // root AND inner tables
    width: 100%; // because tables don't normally do this
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
  }

  > * > tr > * { // cells
    padding: 0 !important;
  }

  table { // inner tables
    border-style: hidden; // kill outer border
  }

}

.scrollgrid__section { // a <tr>
  height: 0;

  > td {
    height: 0; // needs a height so vgrow's within grow
  }
}

.scrollgrid__section.vgrow {
  height: auto; // undo 1px height. will cancel height:100% also

  > td {
    height: 100%; // FF needs this instead of auto
  }
}

.clippedscroller {
  position: relative;
  overflow: hidden;
}

.cell-content { // this and cell-content-wrap are used for row height syncing
  padding: 10px;
}

.shrink {
  white-space: nowrap;
}

.fc-ltr .shrink {
  float: left;
}

.fc-rtl .shrink {
  float: right;
}


.scrollgrid.scrollgrid--forprint { // will eventually have precedence of `.fc-print .scrollgrid`
  table-layout: auto;
}

.scrollgrid--forprint {

  .cell-content-wrap {
    height: auto !important; // override inline
  }

  .fc-sticky {
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
  }

}
