
.fc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc-dir-rtl .fc-toolbar-ltr {
  flex-direction: row-reverse;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.5em;
}

.fc-toolbar.fc-footer-toolbar {
  margin-top: 1.5em;
}

.fc-toolbar h2 {
  font-size: 1.75em;
  margin: 0;
}

.fc-dir-ltr {

  .fc-toolbar > * > :not(:first-child) {
    margin-left: .75em; // space between
  }

}

.fc-dir-rtl {

  .fc-toolbar > * > :not(:first-child) {
    margin-right: .75em; // space between
  }

}

.fc-media-print {

  // don't display any button-related controls
  // TODO: better to put in _button/_button-group.scss ?
  .fc-button-group,
  button {
    display: none;
  }

}
