
td.fc-today {
  border-style: double; /* overcome neighboring borders */
}

.fc-highlight { /* when user is selecting cells */
  background: #bce8f1;
  opacity: .3;
}

.fc-bgevent { /* default look for background events */
  background: rgb(143, 223, 130);
  opacity: .3;
}

.fc-nonbusiness { /* default look for non-business-hours areas */
  /* will inherit .fc-bgevent's styles */
  background: #d7d7d7;
}

.fc-now-indicator {
  position: absolute;
  border: 0 solid red;
}

.fc-unselectable {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.vgrow {
  height: 100%;
}

.vgrow--absolute {
  height: auto !important;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.fc-unthemed {

  .fc-today {
    background: #fcf8e3;
  }

  .fc-disabled-day {
    background: #d7d7d7;
    opacity: .3;
  }

  .fc-divider {
    border: 1px solid $fc-unthemed-border-color;
    border: 1px solid var(--fc-unthemed-border-color, $fc-unthemed-border-color);
    background: $fc-unthemed-muted-bg-color;
    background: var(--fc-unthemed-muted-bg-color, $fc-unthemed-muted-bg-color);
  }

}
