
@mixin liquid-absolute-override {
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin clearfix {
  content: "";
  clear: both;
  display: table;
}

@mixin bg-z-indexes { // TODO: kill
  & .fc-non-business { z-index: 1 }
  & .fc-bg-event { z-index: 2 }
  & .fc-highlight { z-index: 3 }
}

/* Visually hidden class for accessibility */
.fc-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
