
.fc {

  & .fc-scroller-harness {
    position: relative;
    overflow: hidden;
    direction: ltr;
      // hack for chrome computing the scroller's right/left wrong for rtl. undone below...
      // TODO: demonstrate in codepen
  }

  & .fc-scroller-harness-liquid {
    height: 100%;
  }

}

.fc-direction-rtl {

  & .fc-scroller-harness > .fc-scroller { // undo above hack
    direction: rtl;
  }

}
