
@import './common/common';
@import './common/standard';
@import './common/jqueryui';
@import './common/bootstrap4';
@import './toolbar';
@import './view';

@media print {
  @import './common/print';
}
