
.fc {

  & .fc-bg-event,
  & .fc-non-business,
  & .fc-highlight {
    // will always have a harness with position:relative/absolute, so absolutely expand
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  & .fc-non-business {
    background: var(--fc-non-business-color);
  }

  & .fc-bg-event {
    background: var(--fc-bg-event-color);
  }

  & .fc-highlight {
    background: var(--fc-highlight-color);
  }

  & .fc-bg-event .fc-event-title {
    margin: .5em;
    font-size: var(--fc-smaller-font-size);
    font-style: italic;
  }

  & .fc-day-today {
    background: var(--fc-today-color); // for all themes. bootstrap didn't provide a good semi-transparent color for this
  }

  & .fc-cell-shaded,
  & .fc-day-disabled {
    background: var(--fc-neutral-color);
  }

}
