
/*
Lots taken from Flatly (MIT): https://bootswatch.com/4/flatly/bootstrap.css

These styles only apply when the standard-theme is activated.
When it's NOT activated, the fc-button classes won't even be in the DOM.
*/

// reset

.fc {

  & .fc-button {
    border-radius: 0;
    overflow: visible;
    text-transform: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  & .fc-button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
  }

  & .fc-button {
    -webkit-appearance: button;
  }

  & .fc-button:not(:disabled) {
    cursor: pointer;
  }

  & .fc-button::-moz-focus-inner {
    padding: 0;
    border-style: none;
  }

  // theme

  & .fc-button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.4em 0.65em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.25em;
  }

  & .fc-button:hover {
    color: #212529;
    text-decoration: none;
  }

  & .fc-button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
  }

  & .fc-button:disabled {
    opacity: 0.65;
  }

  // "primary" coloring

  & .fc-button-primary {
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
  }

  & .fc-button-primary:hover {
    color: #fff;
    background-color: #1e2b37;
    border-color: #1a252f;
  }

  & .fc-button-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
  }

  & .fc-button-primary:disabled {
    color: #fff;
    background-color: #2C3E50;
    border-color: #2C3E50;
  }

  & .fc-button-primary:not(:disabled):active,
  & .fc-button-primary:not(:disabled).fc-button-active {
    color: #fff;
    background-color: #1a252f;
    border-color: #151e27;
  }

  & .fc-button-primary:not(:disabled):active:focus,
  & .fc-button-primary:not(:disabled).fc-button-active:focus {
    box-shadow: 0 0 0 0.2rem rgba(76, 91, 106, 0.5);
  }

  // icons within buttons

  & .fc-button .fc-icon {
    vertical-align: middle;
    font-size: 1.5em; // bump up the size (but don't make it bigger than line-height of button, which is 1.5em also)
  }

}
