
/*
A HORIZONTAL event
*/

.fc-h-event { // events allowed to be top-level precedence

  &.fc-event-main {
    position: relative; // specifically for the z-index
    z-index: 2; // TODO: var
  }

  &.fc-event-resizer {
    position: absolute;
    z-index: 3; // TODO: var
  }

  &.fc-event-resizable-mouse {

    & .fc-event-resizer {
      width: var(--event-resizer-girth);
      top: -1px; // overcome border
      bottom: -1px; // overcome border
    }

  }

  &.fc-event-selected {

    // expand touch area for TOUCH (when event is "selected")
    &:before {
      top: -10px;
      bottom: -10px;
    }

    & .fc-event-resizer {
      @include event-resizer-dot;
      top: 50%;
      margin-top: calc(var(--event-resizer-dot-total-width) / -2);
    }

  }

}

.fc-direction-ltr .fc-h-event .fc-event-resizer-start,
.fc-direction-rtl .fc-h-event .fc-event-resizer-end {
  cursor: w-resize;
}

.fc-direction-ltr .fc-h-event .fc-event-resizer-end,
.fc-direction-rtl .fc-h-event .fc-event-resizer-start {
  cursor: e-resize;
}

.fc-direction-ltr .fc-h-event.fc-event-resizable-mouse .fc-event-resizer-start,
.fc-direction-rtl .fc-h-event.fc-event-resizable-mouse .fc-event-resizer-end {
  left: calc(var(--event-resizer-girth) / -2);
}

.fc-direction-ltr .fc-h-event.fc-event-resizable-mouse .fc-event-resizer-end,
.fc-direction-rtl .fc-h-event.fc-event-resizable-mouse .fc-event-resizer-start {
  right: calc(var(--event-resizer-girth) / -2);
}

.fc-direction-ltr .fc-h-event.fc-event-selected .fc-event-resizer-start,
.fc-direction-rtl .fc-h-event.fc-event-selected .fc-event-resizer-end {
  left: calc(var(--event-resizer-dot-total-width) / -2);
}

.fc-direction-ltr .fc-h-event.fc-event-selected .fc-event-resizer-end,
.fc-direction-rtl .fc-h-event.fc-event-selected .fc-event-resizer-start {
  right: calc(var(--event-resizer-dot-total-width) / -2);
}
