
.fc-scrollgrid {

  &, table { // all tables (self included)
    width: 100%; // because tables don't normally do this
    table-layout: fixed;
    border-collapse: collapse !important; // need important?
  }

  & tr > * { // all cells (self included)
    padding: 0;
  }

  & table { // inner tables
    border-style: hidden !important;
  }
}

.fc-scrollgrid-liquid {
  height: 100%;
}

.fc-theme-standard .fc-scrollgrid {
  border: 1px solid #ddd; // bootstrap does this. match
}


.fc-scrollgrid-section { // a <tr>
  height: 0;

  > td {
    height: 0; // needs a height so inner div within grow
  }

  table {
    height: 1px;
      // for most browsers, if a height isn't set on the table, can't do liquid-height within cells
      // serves as a min-height. harmless
  }
}

.fc-scrollgrid-section-liquid {
  height: auto;

  > td {
    height: 100%; // FF needs this instead of auto
  }
}


// stickiness

.fc-scrollgrid-section-sticky > * {
  background: #fff; // TODO: var
  position: sticky !important; // TODO: browser prefixes? important because overcomes fc-liquid-hack
  z-index: 2; // TODO: var
  // TODO: box-shadow when sticking
}

.fc-scrollgrid > thead > .fc-scrollgrid-section-sticky > * {
  top: -1px; // because border-sharing causes a gap at the top
}

.fc-scrollgrid > tfoot > .fc-scrollgrid-section-sticky > * {
  bottom: 0; // known bug: bottom-stickiness doesn't work in safari
}

.fc-scrollgrid-sticky-shim { // for horizontal scrollbar
  height: 1px; // needs height to create scrollbars
  margin-bottom: -1px;
}
