
/*
for css vars only.
these values are automatically known in all stylesheets.
the :root statement itself is only included in the common stylesheet.
this file is not processed by postcss when imported into the postcss-custom-properties plugin,
so only write standard css!
*/

:root {
  --fc-theme-standard-border-color: #ddd;
  --fc-theme-standard-muted-bg-color: #eee;
}
