
.fc {

  & .fc-view-harness {
    flex-grow: 1; // because this harness is WITHIN the .fc's flexbox
    position: relative;
  }

  // when the harness controls the height, make the view liquid
  & .fc-view-harness-active > .fc-view {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

}
