.fc-resource-view {
	overflow-x: auto;
	//overflow-y: auto;
	//height: 700px;

	> table {
		width: auto;
	}

	.fc-row,
	.fc-bg,
	.fc-content-skeleton {
		> table {
			width: 0;
			table-layout: fixed;
		}
	}

	.fc-day,
	.fc-day-header,
	.fc-content-skeleton td {
		width: 170px;
	}


	.fc-scroller {
		//overflow: initial;
		//height: auto !important;
	}

	.fc-time-grid-container {
		//height: auto !important;
	}


}
