
// high precedence to overcome theme
.fc .fc-timegrid-divider {
  padding: 0 0 2px;
}



.fc-timegrid-body {
  position: relative; // for housing skeletons
  z-index: 1; // because containers z-index'd children
  min-height: 100%; // fill height always ... even when slat table doesn't grow
}

.fc-timegrid-slots {
  position: relative;
  z-index: 2; // go above fc-timegrid-cols
}

.fc-timegrid-cols {
  position: absolute; // no z-index. children will decide
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & > table {
    height: 100% !important;
  }
}



.fc-timegrid-col-events,
.fc-timegrid-col-bg {
  position: relative;
  height: 0;
}

.fc-timegrid-col-bg {
  z-index: 1; // under slots
}

.fc-timegrid-col-events {
  z-index: 3; // above slots
}

// within events container
// .fc-timegrid-event { z-index: ? } // decided and assigned in JS
.fc-timegrid-event.fc-event-mirror { z-index: 9999 } // above all events

// within bg container
.fc-timegrid-nonbusiness { z-index: 1 }
.fc-timegrid-bgevent { z-index: 2 }
.fc-timegrid-highlight { z-index: 3 }



// SLATS (lines that run horizontally)

.fc-timegrid-slot { // a <td>
  height: 1.5em; // TODO: move to the 'frame' possibly
  border-bottom: 0 !important;
    /* each cell is responsible for its top border */
    /* is !important because competing with theme declarations */
}

.fc-timegrid-slot-minor {
  border-top-style: dotted !important;
}

.fc-timegrid-slot-label-cushion {
  white-space: nowrap;
}

.fc-dir-ltr {
  .fc-timegrid-axis-frame,
  .fc-timegrid-slot-label-frame {
    text-align: right;
  }
}

.fc-dir-rtl {
  .fc-timegrid-axis-frame,
  .fc-timegrid-slot-label-frame {
    text-align: left;
  }
}

.fc-timegrid-axis-cushion,
.fc-timegrid-slot-label-cushion {
  padding: 0 4px;
}

.fc .fc-timegrid-slot-label { // vertical align the slots
  vertical-align: middle;
}



.fc-timegrid-axis-frame {
  overflow: hidden;
  display: flex;
  align-items: center; // vertical align
  justify-content: flex-end; // horizontal align. matches text-align
}

.fc-timegrid-axis-cushion {
  max-width: 60px;
  flex-shrink: 0; // allows text to expand how it normally would, regardless of constrained width
}



.fc-timegrid-bg-harness {
  position: absolute;
  left: 0;
  right: 0;
}


.fc-dir-ltr .fc-timegrid-col-events { /* space on the sides of events for LTR (default) */
  margin: 0 2.5% 0 2px;
}

.fc-dir-rtl .fc-timegrid-col-events { /* space on the sides of events for RTL */
  margin: 0 2px 0 2.5%;
}

.fc-timegrid-event-harness {
  position: absolute;
}
