
.fc-time-grid {
  position: relative; // for housing skeletons
  z-index: 1; // because containers z-index'd children
}


// SKELETONS
// order:
// .fc-bg
// .fc-slats
// .fc-content-skeleton

.fc-time-grid > .fc-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & > table {
    height: 100%;
  }
}

.fc-time-grid > .fc-slats {
  position: relative;
  z-index: 2;
}

.fc-time-grid > .fc-content-skeleton {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;

  & > table {
    height: 100%;
  }
}

.fc-time-grid .fc-content-col { // <td>s within .fc-content-skeleton
  position: relative;
}


// elements that live WITHIN each .fc-content-col

.fc-time-grid .fc-business-container {
  position: relative;
  z-index: 1;
}

.fc-time-grid .fc-bgevent-container {
  position: relative;
  z-index: 2;
}

.fc-time-grid .fc-highlight-container {
  position: relative;
  z-index: 3;
}

.fc-time-grid .fc-event-container {
  position: relative;
  z-index: 4;
}

.fc-time-grid .fc-now-indicator-line { // will be absolute
  z-index: 5;
}

.fc-time-grid .fc-mirror-container {
  position: relative;
  z-index: 6;
}


// highlight (within .fc-highlight-container)

.fc-time-grid .fc-highlight {
  position: absolute;
  left: 0;
  right: 0;
}


// SLATS (lines that run horizontally)

.fc-time-grid > .fc-slats td {
  height: 1.5em;
  border-bottom: 0; /* each cell is responsible for its top border */
}

.fc-time-grid > .fc-slats .fc-minor td {
  border-top-style: dotted;
}


.fc-print {

  // kill the overlaid, absolutely-positioned components
  .fc-time-grid > .fc-bg,
  .fc-time-grid > .fc-slats,
  .fc-time-grid .fc-bgevent-skeleton,
  .fc-time-grid .fc-highlight-skeleton,
  .fc-time-grid .fc-mirror-skeleton,
  .fc-time-grid .fc-bgevent-container,
  .fc-time-grid .fc-business-container,
  .fc-time-grid .fc-highlight-container,
  .fc-time-grid .fc-mirror-container {
    display: none !important; // important overrides inline declaration for .fc-slats
  }

  /* let the container that holds the events be naturally positioned and create real height */
  .fc-time-grid > .fc-content-skeleton {
    position: static;
  }

  /* in case there are no events, we still want some height */
  .fc-time-grid > .fc-content-skeleton table {
    height: 4em;
  }

  /* kill the horizontal spacing made by the event container. event margins will be done below */
  .fc-time-grid .fc-event-container {
    margin: 0 !important;
  }

}
