
.fc-timegrid {
  position: relative; // for housing skeletons
  z-index: 1; // because containers z-index'd children
  min-height: 100%; // fill height always ... even when slat table doesn't grow
}


.fc-timegrid-slats {
  position: relative;
  z-index: 2;
}

.fc-timegrid-cols {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & > table {
    height: 100%;
  }
}

.fc-timegrid-col-inner,
.fc-timegrid-col-events {
  position: relative;
  height: 0;
}

.fc-ltr .fc-timegrid-col-events { /* space on the sides of events for LTR (default) */
  margin: 0 2.5% 0 2px;
}

.fc-rtl .fc-timegrid-col-events { /* space on the sides of events for RTL */
  margin: 0 2px 0 2.5%;
}


.fc-timegrid-col-inner .fc-nonbusiness {
  z-index: 1;
}

.fc-timegrid-col-inner .fc-bgevent {
  z-index: 2;
}

.fc-timegrid-col-inner .fc-highlight {
  z-index: 3;
}

.fc-timegrid-col-inner .fc-event {
  z-index: 4;
}

.fc-timegrid-col-inner .fc-now-indicator-line {
  z-index: 5;
}

.fc-timegrid-col-events {
  z-index: 6;
}


// SLATS (lines that run horizontally)

.fc-timegrid-slats td {
  height: 1.5em;
  border-bottom: 0; /* each cell is responsible for its top border */
}

.fc-timegrid-slats .fc-minor td {
  border-top-style: dotted;
}
