
.fc-timegrid-slots {
  position: relative;
  z-index: $timegrid-slots-z;
}

.fc-timegrid-slot { // a <td>
  height: 1.5em;
}

.fc-timegrid-slot-minor {
  border-top-style: dotted !important; // OVERCOME THEME
}

.fc-timegrid-slot-label-cushion {
  white-space: nowrap;
}

.fc .fc-timegrid-slot-label { // OVERCOME RESET
  vertical-align: middle; // vertical align the slots
}


// slots AND axis cells (top-left corner of view including the "all-day" text)

.fc-dir-ltr {
  .fc-timegrid-axis-frame,
  .fc-timegrid-slot-label-frame {
    text-align: right;
  }
}

.fc-dir-rtl {
  .fc-timegrid-axis-frame,
  .fc-timegrid-slot-label-frame {
    text-align: left;
  }
}

.fc-timegrid-axis-cushion,
.fc-timegrid-slot-label-cushion {
  padding: 0 4px;
}


// axis cells (top-left corner of view including the "all-day" text)
// vertical align is more complicated, uses flexbox

.fc-timegrid-axis-frame-liquid {
  height: 100%; // will need liquid-hack in FF
}

.fc-liquid-hack {
  .fc-timegrid-axis-frame-liquid {
    @include liquid-absolute-override;
  }
}

.fc-timegrid-axis-frame {
  overflow: hidden;
  display: flex;
  align-items: center; // vertical align
  justify-content: flex-end; // horizontal align. matches text-align
}

.fc-timegrid-axis-cushion {
  max-width: 60px; // limits the width of the "all-day" text
  flex-shrink: 0; // allows text to expand how it normally would, regardless of constrained width
}
