
// high precedence to overcome theme
.fc .fc-timegrid-divider {
  padding: 0 0 2px;
}



.fc-timegrid-body {
  position: relative; // for housing skeletons
  z-index: 1; // because containers z-index'd children
  min-height: 100%; // fill height always ... even when slat table doesn't grow
}

.fc-timegrid-slots {
  position: relative;
  z-index: 2;
}

.fc-timegrid-cols {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  & > table {
    height: 100% !important;
  }
}

.fc-timegrid-col-origin {
  position: relative;
}

.fc-timegrid-col-events {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
}



// SLATS (lines that run horizontally)

.fc-timegrid-slot { // a <td>
  height: 1.5em; // TODO: move to the 'frame' possibly
  border-bottom: 0 !important;
    /* each cell is responsible for its top border */
    /* is !important because competing with theme declarations */
}

.fc-timegrid-slot-minor {
  border-top-style: dotted !important;
}

.fc .fc-timegrid-axis-frame {
  display: flex;
  align-items: center;
}

.fc .fc-timegrid-slot-axis {
  vertical-align: middle;
}

.fc-timegrid-axis-cushion,
.fc-timegrid-slot-axis-cushion {
  white-space: nowrap;
  padding: 0 4px;
}



.fc-timegrid-bg-harness {
  position: absolute;
  left: 0;
  right: 0;
}


.fc-ltr .fc-timegrid-col-events { /* space on the sides of events for LTR (default) */
  margin: 0 2.5% 0 2px;
}

.fc-rtl .fc-timegrid-col-events { /* space on the sides of events for RTL */
  margin: 0 2px 0 2.5%;
}

.fc-timegrid-event-harness {
  position: absolute;
}

.fc-timegrid-col-events { z-index: 4 } // events are z-index-scoped within
.fc-timegrid-highlight { z-index: 3 }
.fc-timegrid-bgevent { z-index: 2 }
.fc-timegrid-nonbusiness { z-index: 1 }
