
.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror {
  box-shadow: 0px 0px 0px 1px var(--fc-page-bg-color);
}

.fc-timegrid-event { // events need to be root

  font-size: var(--fc-small-font-size);
  border-radius: 3px;

  & .fc-event-main {
    padding: 1px 1px 0;
  }

  & .fc-event-time {
    white-space: nowrap;
    font-size: var(--fc-small-font-size);
    margin-bottom: 1px;
  }

}

.fc-timegrid-event-condensed {

  & .fc-event-main-frame {
    flex-direction: row;
    overflow: hidden;
  }

  & .fc-event-time:after {
    content: '\00a0-\00a0'; // dash surrounded by non-breaking spaces
  }

  & .fc-event-title {
    font-size: var(--fc-small-font-size)
  }

}

.fc-media-screen {

  & .fc-timegrid-event {
    position: absolute; // absolute WITHIN the harness
    top: 0;
    bottom: 1px; // stay away from bottom slot line
    left: 0;
    right: 0;
  }

}
