
.fc {

  & .fc-timegrid-cols {
    // prevents now indicator arrow from bleeding out and causing more scrolling
    // bad if we want to do sticky-titles on events in timegrid
    // TODO: move now indicator arrow into own container, that does its own overflow
    overflow: hidden;
  }

  & .fc-timegrid-col-origin { // TODO: rename to frame?
    position: relative; // why do we need this now?
  }

  // fg events

  & .fc-timegrid-col-events {
    position: relative;
    z-index: $timegrid-col-fg-z;
  }

  // bg

  & .fc-timegrid-col-bg {
    position: relative;
    z-index: $timegrid-col-bg-z;
    @include bg-z-indexes;
  }

  & .fc-timegrid-bg-harness {
    position: absolute; // top/bottom will be set by JS
    left: 0;
    right: 0;
  }

}

.fc-media-screen {

  & .fc-timegrid-cols {
    position: absolute; // no z-index. children will decide and go above slots
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    & > table {
      height: 100%; // TODO: test this???
    }
  }

  & .fc-timegrid-event-harness {
    position: absolute; // top/left/right/bottom will all be set by JS
  }

}

.fc-direction-ltr {

  & .fc-timegrid-col-events {
    margin: 0 2.5% 0 2px;
  }

}

.fc-direction-rtl {

  & .fc-timegrid-col-events {
    margin: 0 2px 0 2.5%;
  }

}
