
/*
A VERTICAL event
*/

.fc-v-event { // allowed to be top-level

  border: 1px solid var(--event-bg-color);
  background-color: var(--event-border-color);

  & .fc-event-main {
    color: var(--event-text-color);
  }

  &:not(.fc-event-start) {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:not(.fc-event-end) {
    border-bottom-width: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.fc-event-selected:before {
    // expand hit area
    left: -10px;
    right: -10px;
  }

  // resizer (mouse AND touch)

  & .fc-event-resizer-start {
    cursor: n-resize;
  }

  & .fc-event-resizer-end {
    cursor: s-resize;
  }

  // resizer for MOUSE

  &:not(.fc-event-selected) {

    & .fc-event-resizer {
      height: var(--event-resizer-girth);
      left: 0;
      right: 0;
    }

    & .fc-event-resizer-start {
      top: calc(var(--event-resizer-girth) / -2);
    }

    & .fc-event-resizer-end {
      bottom: calc(var(--event-resizer-girth) / -2);
    }

  }

  // resizer for TOUCH (when event is "selected")

  &.fc-event-selected {

    & .fc-event-resizer {
      left: 50%;
      margin-left: calc(var(--event-resizer-dot-total-width) / -2);
    }

    & .fc-event-resizer-start {
      top: calc(var(--event-resizer-dot-total-width) / -2);
    }

    & .fc-event-resizer-end {
      bottom: calc(var(--event-resizer-dot-total-width) / -2);
    }

  }

}
