
/*
A VERTICAL event
*/

.fc-v-event { // allowed to be top-level

  & .fc-event-main {
    position: relative; // specifically for the z-index
    z-index: 2; // TODO: var
  }


  // resizer (mouse AND touch)

  & .fc-event-resizer {
    position: absolute;
    z-index: 3; // TODO: var
  }

  & .fc-event-resizer-start {
    cursor: n-resize;
  }

  & .fc-event-resizer-end {
    cursor: s-resize;
  }


  // resizer for MOUSE

  &.fc-event-resizable-mouse .fc-event-resizer {
    height: var(--event-resizer-girth);
    left: -1px; // overcome border
    right: -1px; // overcome border
  }

  &.fc-event-resizable-mouse .fc-event-resizer-start {
    top: calc(var(--event-resizer-girth) / -2);
  }

  &.fc-event-resizable-mouse .fc-event-resizer-end {
    bottom: calc(var(--event-resizer-girth) / -2);
  }


  // resizer for TOUCH (when event is "selected")

  &.fc-event-selected .fc-event-resizer {
    @include event-resizer-dot;
    left: 50%;
    margin-left: calc(var(--event-resizer-dot-total-width) / -2);
  }

  &.fc-event-selected .fc-event-resizer-start {
    top: calc(var(--event-resizer-dot-total-width) / -2);
  }

  &.fc-event-selected .fc-event-resizer-end {
    bottom: calc(var(--event-resizer-dot-total-width) / -2);
  }


  // expand touch area for TOUCH (when event is "selected")

  &.fc-event-selected:before {
    left: -10px;
    right: -10px;
  }

}
