.fc-listMonth-view .fc-week-number {
	padding: 0 2px;
	vertical-align: middle;
}

.fc-listMonth-view tbody .fc-row {
	min-height: 2em;
}

.fc-listMonth-view .fc-week-number span {
	line-height: 2em;
}

.fc-listMonth-view .fc-day-grid-event {
	margin: 0 2px 1px;
}

.fc-listMonth-view .fc-row .fc-content-skeleton {
	padding-bottom: 0;
}

.fc-listMonth-view .fc-row .fc-content-skeleton .fc-day-number {
	text-align: left;
	line-height: 2em;
	background-color: #E7E7E7;
	border-bottom: 1px solid #DBDADA;
	font-weight: bold;
}

.fc-listMonth-view .fc-row .fc-content-skeleton .fc-day-number .fc-list-header-left {
	float: left;
	padding-left: 5px;
}

.fc-listMonth-view .fc-row .fc-content-skeleton .fc-day-number .fc-list-header-right {
	float: right;
	padding-right: 5px;
	color: #666;
}

.fc-listMonth-view.fc-display-date-above .fc-row .fc-content-skeleton  tbody:before,
.fc-listMonth-view.fc-display-date-above .fc-row .fc-content-skeleton  tbody:after {
	line-height: .5em;
	content: "-";
	color: white;
	display: block;
}