
/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
	border-collapse: separate;
	}
	
.fc-agenda-days th {
	text-align: center;
	}
	
.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
	}

.fc-agenda .fc-week-number {
	font-weight: bold;
	}
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
	}
	
/* make axis border take precedence */
	
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
	}
	
.fc-agenda-days .fc-col0 {
	border-left-width: 0;
	}
	
/* all-day area */
	
.fc-agenda-allday th {
	border-width: 0 1px;
	}
	
.fc-agenda-allday .fc-day-content {
	min-height: 34px; /* TODO: doesnt work well in quirksmode */
	_height: 34px;
	}
	
/* divider (between all-day and slots) */
	
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
	}
	
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
	}
	
/* slot rows */
	
.fc-agenda-slots th {
	border-width: 1px 1px 0;
	}
	
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
	}
	
.fc-agenda-slots td div {
	height: 20px;
	}
	
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
	}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted;
	}
	
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid; /* doesn't work with background in IE6/7 */
	}
	


/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
	border-width: 0 1px;
	}

.fc-event-vert.fc-event-start {
	border-top-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	}

.fc-event-vert.fc-event-end {
	border-bottom-width: 1px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	}
	
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 10px;
	}

.fc-event-vert .fc-event-inner {
	position: relative;
	z-index: 2;
	}
	
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: .25;
	filter: alpha(opacity=25);
	}
	
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
	display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
	}
	
/* resizable */
	
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
	width: 100%      !important;
	height: 8px      !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
	}
	
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
	_overflow: hidden;
	}
	
	
.fc-agendaList {
  border: 1px solid #E0E0E0;
  list-style: none;
  margin: 0;
  padding: 0;
}
.fc-agendaList-day-header {
  background-color: #F0F0F0;
  border-top: 1px solid #E0E0E0;
  overflow: hidden;
  padding: 8px;
}
.fc-agendaList-day-header:first-child {
  border-top: none;
}
.fc-agendaList-day,
.fc-agendaList-date {
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.fc-agendaList-day {
  color: #404040;
  float: left;
  font-weight: bold;
}
.fc-agendaList-date {
  color: #707070;
  float: right;
}
.fc-agendaList-item {
  border-top: 1px solid #E0E0E0;
}
.fc-agendaList-event {
  background-color: transparent;
  border: none;
  color: inherit;
  display: block;
  padding: 8px;
  margin: 0;
}
.fc-agendaList-event .fc-event-time {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
  width: 15%;
}
.fc-agendaList-event .fc-event-time-start,
.fc-agendaList-event .fc-event-time-end {
  display: inline-block;
}
.fc-agendaList-event .fc-event-time-end:before {
  content: "-";
  display: inline-block;
  margin: 0 5px;
}
.fc-agendaList-event-details {
  display: inline-block;
  vertical-align: top;
}
/* Event Link */
a.fc-agendaList-event {
  text-decoration: none;
}
a.fc-agendaList-event:hover {
  background-color: #F8F8F8;
}
a.fc-agendaList-event .fc-event-title {
  color: #4B66A7;
  text-decoration: underline;
}